<div fxLayout="column"
     fxLayoutAlign="end end">
  <button (click)="dialogRef.close(null)" mat-icon-button
          style="margin: .2rem">
    <mat-icon>close</mat-icon>
  </button>
</div>

<form [formGroup]="newLessonFormGroup" autocomplete="on" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="row center">
    <h1>Create a New Lesson</h1>
  </div>
  <br>
  <mat-form-field appearance="outline" fxLayout="column">
    <mat-label>New Lesson Name</mat-label>
    <input autocomplete="on" formControlName="newLesson" matInput placeholder="Lesson name" required type="newLesson" id="newLesson">
  </mat-form-field>
  <button (click)="submitFunc()" [disabled]="!newLessonFormGroup.valid" color="primary" mat-raised-button type="submit">
    Submit
  </button>

  <br>
</form>
