<div fxLayout="column"
     fxLayoutAlign="end end">
  <button (click)="dialogRef.close(null)" mat-icon-button
          style="margin: .2rem">
    <mat-icon>close</mat-icon>
  </button>
</div>

<form [formGroup]="forgotPasswordFormGroup" autocomplete="on" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="row center">
    <mat-icon>account_circle</mat-icon>
    <h1>Forgot Password?</h1>
  </div>
  <p>If you have forgotten your password, enter your account's email address to receive a link to reset your
    password.</p>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input autocomplete="on" formControlName="email" matInput placeholder="johndoe@gmail.com" required id="email">
  </mat-form-field>
  <button (click)="submitEmail()" color="primary" mat-raised-button type="submit">Submit</button>

</form>
