.mat-icon-check-green {
  color: green;
}

.upload-complete {
  color: green;
  margin-left: .5rem;
}

.mat-divider-vertical {
  height: 100%;
  width: 20px !important;
  position: inherit !important;
}

.mobileView{
  position: relative;
  top:0
}

.non-mobileView{
  position: relative;
  top:-6rem;
}

.header {
  margin-bottom: 1rem;
}
