.main {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  -webkit-tap-highlight-color: transparent;
  font-size: .875rem;
  line-height: 1.7142857;
  border-radius: 1rem !important;
  box-shadow: 0 1px 4px 1px #918a8a !important;
  min-width: 350px;
  width: 100%;
  padding: 1.5rem !important;
  //padding-top: 3rem !important;
  //padding-bottom: 3rem !important;
  margin:.5rem !important;
  background-color: white !important;
}
