<div fxLayout="column"
     fxLayoutAlign="end end">
  <button (click)="dialogRef.close(null)" mat-icon-button
          style="margin: .2rem">
    <mat-icon>close</mat-icon>
  </button>
</div>

<form [formGroup]="newModuleFormGroup" autocomplete="on" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="row center">
    <h1>Create a New Module</h1>
  </div>
  <br>
  <mat-form-field appearance="outline" fxLayout="column">
    <mat-label>New Module Name</mat-label>
    <input autocomplete="on" formControlName="newModule" matInput placeholder="Module name" required type="newModule" id="newModule">
  </mat-form-field>
  <button (click)="submitFunc()" [disabled]="!newModuleFormGroup.valid" color="primary" mat-raised-button type="submit">
    Submit
  </button>

  <br>
</form>
